
.banner {
    width: 100%;
    margin: 100px 0px 100px 0px;
    background-color: #861336;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    height: 500px;
}

.approach-bg {
    width: 100%;
    margin: 100px 0px 100px 0px;
    background-color: #861336;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    height: 400px;
}

.banner > img {
    width: 100%;
    height: auto;   /* Maintain aspect ratio */
    max-width: 1440px;
    padding: 0px 8% 0px 8%;
}

.approach-bg > img {
    width: 100%;
    height: auto;   /* Maintain aspect ratio */
    max-width: 1440px;
    padding: 0px 8% 0px 8%;
}

.case-study {
    max-width: 1440px;
    padding: 0px 8% 0px 8%;
    margin:auto;
    gap: 50px;
    display:flex;
    flex-direction: column;
}

.overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview h5 {
    color: var(--Neutral-700, #404040);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.case-p {
    display:flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.case-p > h2 {
    color: var(--Neutral-800, #1F2937);
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.case-p > h3 {
    color: var(--Neutral-800, #861336);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 30px;
}

.case-p > h4 {
    color: var(--Neutral-800, #78350F);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 30px;
}

.case-p > p {
    color: var(--Neutral-700, #404040);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.img-container > img {
    width: 100%;
    height: auto;   
    max-width: 800px;
    margin-top:30px;
}

.img-container {
    display:flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    flex-direction: column;
}

.img-container > h6 {
    color: var(--Neutral-700, #404040);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 800px;
    text-align: center;
    margin-top:20px;
}

.emphasis {
    color: var(--Neutral-700, #717171);
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 1.5px;
    margin-top: 20px;
}