.display {
    display: flex;
    width: 100%;
    height: 572px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
}

.display-left {
    display: flex;
    width: 620px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
}

.display-right {
    position:relative;
    display: flex;
    flex: 1 0 0;
    align-self: stretch;
}

.main-display-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-display-text > h1 {
    color: var(--Neutral-800, #1F2937);
    font-family: 'Manrope';
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4px;
}

.main-display-text > h2 {
    color: var(--Neutral-800, #1F2937);
    font-family: "Noto Sans JP";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.4px;
}

.sub-display-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.sub-display-text > h3 {
    color: var(--Neutral-600, #4B5563);
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
}

.download {
    text-decoration: none;
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--Neutral-300, #D1D5DB);
    background: var(--Generic-White, #FFF);
    color: var(--Neutral-700, var(--Neutral-700, #374151));
    text-align: center;
    /* Label/Medium/Medium */
    font-family: 'Inter';
    font-size: var(--font-size-x-sm, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
}

.download:hover {
    background: var(--Generic-White, #F3F4F6);
}

.cyan {
    width: 212px;
    height: 210px;
    position: absolute;
    left: 130px;
    top: 132px;
    background: #A5F3FC;
    filter: blur(25px);
    border-radius: 100%;
    mix-blend-mode: multiply;
    animation: floatcyan 60s infinite;
    animation-timing-function: linear;
    background-blend-mode: overlay;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1), 
                0 0 30px 15px rgba(0, 0, 0, 0.05), 
                0 0 45px 25px rgba(0, 0, 0, 0.02);
}

.purple{
    width: 212px;
    height: 210px;
    position: absolute;
    right: 48px;
    top: 141px;
    background: #cdb4db;
    filter: blur(25px);
    border-radius: 100%;
    mix-blend-mode: multiply;
    animation: floatyellow 60s infinite;
    animation-timing-function: linear;
    background-blend-mode: overlay;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1), 
                0 0 30px 15px rgba(0, 0, 0, 0.05), 
                0 0 45px 25px rgba(0, 0, 0, 0.02);
}

.magenta {
    width: 212px;
    height: 210px;
    position: absolute;
    right: 130px;
    bottom: 125px;
    background: #F9A8D4;
    filter: blur(25px);
    border-radius: 100%;
    mix-blend-mode: multiply;
    animation: floatmagenta 60s infinite;
    animation-timing-function: linear;
    background-blend-mode: overlay;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1), 
                0 0 30px 15px rgba(0, 0, 0, 0.05), 
                0 0 45px 25px rgba(0, 0, 0, 0.02);
}

@keyframes floatcyan {
    0% { transform: translate(0px, 0px) scale(1); }
    25% { transform: translate(200px, 0px) scale(1.2); }
    50% { transform: translate(0px, 100px) scale(0.8); }
    75% { transform: translate(100px, 0px) scale(1); }
    100% { transform: translate(0px, 0px) scale(1); }
  }
  
  @keyframes floatyellow {
    0% { transform: translate(0px, 0px) scale(1); }
    25% { transform: translate(-200px, 0px) scale(0.9); }
    50% { transform: translate(0px, -50px) scale(1.1); }
    75% { transform: translate(-100px, 0px) scale(0.7); }
    100% { transform: translate(0px, 0px) scale(1); }
  }
  
  @keyframes floatmagenta {
    0% { transform: translate(0px, 0px) scale(1); }
    25% { transform: translate(50px, 50px) scale(1.3); }
    50% { transform: translate(-100px, 0px) scale(0.7); }
    75% { transform: translate(50px, -50px) scale(1); }
    100% { transform: translate(0px, 0px) scale(1); }
  }

  .line-divider {
    width: 100%;
    height: 1.5px;
    background: #E5E7EB;
  }

  .title-container {
    display: flex;
    padding: 72px 0px 0px 0px;
    align-items: center;
    align-self: stretch;
  }

  .title-container > h2 {
    color: var(--Neutral-800, #1F2937);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
  }

  .project-list {
    display: flex;
    width: 1216px;
    padding: 110px 0px;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--xx-lg, 64px) 32px;
    flex-wrap: wrap;
  }
  
  .project-link {
    text-decoration:none;
  }

  .project-container {
    display: flex;
    width: 592px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--Neutral-300, #D1D5DB);
  }

  .project-image {
    display: flex;
    height: 350px;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

  .hover-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .project-link:hover .hover-video {
    display: block; /* Show the video on hover */
  }

  .project-text {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  .title-row > h4 {
    color: var(--Neutral-800, #1F2937);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
  }

  .title-row > h5 {
    color: var(--Neutral-500, #6B7280);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
  }

  .project-desc {
    color: var(--Neutral-500, #6B7280);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }