.main-layout {
    height: auto;
    width:100%;
    padding: 0 30px;
}
.main-container {
    display:flex;
    max-width: 1450px;
    margin:auto;
    
    
}
.display-text {
    display:flex;
    flex-direction:column;
    flex: 1;
    width: 100%;
    margin-top:7%;
    align-items: center;
}
.handwrite-en {
    display:block;
    margin-top:3%;
    text-align: start;
    font-size: clamp(20px, 2vw, 40px);
    color: #ffffff;
    font-family: 'Nanum Pen Script';
    text-align: center;
}
.handwrite-jp  {
    display:block;
    margin-top:3%;
    text-align: start;
    font-size: clamp(10px, 1vw, 20px);
    color: #ffffff;
    font-family: 'Noto Sans JP';
    text-align: center;
}




.name-en {
    font-size: clamp(30px, 4vw, 70px);
    color:#ffffff;
    font-weight: 800;
    margin-top: 5%;
    font-family: 'Roboto';
    text-align: center;
}
.name-jp {
    font-size: clamp(30px, 4vw, 70px);
    color:#ffffff;
    font-weight: 800;
    margin-top: 5%;
    font-family: 'Noto Sans JP';
    text-align: center;
}
.prof-en {
    font-size: clamp(40px, 4vw, 80px);
    color:#ffffff;
    font-family: 'Roboto';
    font-style:normal;
    font-weight:300;
    margin-top:1%;
    text-align: center;
}

.prof-jp {
    font-size: clamp(40px, 4vw, 80px);
    color:#ffffff;
    font-family: 'Noto Sans JP';
    font-style:normal;
    font-weight:300;
    margin-top:1%;
    text-align: center;
}

.moto-en {
    font-size: clamp(25px, 2vw, 50px);
    color:#ffffff;
    font-style: normal;
    font-weight: 200;
    letter-spacing: -0.72px;
    margin-top:5%;
    font-family: 'Roboto';
    text-align: center;
}

.moto-jp {
    font-size: clamp(15px, 1.5vw, 30px);
    color:#ffffff;
    font-weight: 300;
    letter-spacing: -0.72px;
    margin-top:5%;
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    text-align: center;
}
.display-image {
    position:relative;
    flex: 1;
    width: 50%;
}




.display-text,
.display-image {
  opacity: 0; /* Start invisible */
  transform: translateY(-100px); /* Start with downward offset */
  transition: all 1s ease-in-out 1s; /* Smooth transition */
}
.in-view {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Reset offset */
  }


/*
 @media (max-width: 1000px) {
    .main-layout {
        height: auto;
        width:100%;
        padding: 0;
    }
    .main-container {
        display:flex;
        max-width: 1450px;
        margin:auto;
        flex-direction: column;
        
    }
    .display-text {
        display:flex;
        flex-direction:column;
        flex: 1;
        width:100%;
        margin-top:12%;
        padding: 0 30px;
    }
    .handwrite-en {
        align-self: flex-end;
        display:block;
        width:clamp(200px, 1vw, 300px);
        margin-bottom:20%;
        text-align: start;
    }
    .handwrite-en > p {
        font-size: clamp(16px, 2vw, 30px);
        color: #ffffff;
        font-family: 'Nanum Pen Script';
    }
    .handwrite-jp {
        align-self: flex-end;
        display:block;
        width:clamp(200px, 1vw, 300px);
        margin-bottom:20%;
        text-align: start;
    }
    .handwrite-jp > p {
        font-size: clamp(12px, 2vw, 30px);
        color: #ffffff;
        font-family: 'Noto Sans JP';
    }
    
    .display-image {
        position:relative;
        flex: 1;
        width:100%;
        padding: none;

    }
    
    .display-image > div {
        padding-bottom: 50px;
    }
    
    
    
    
    
    .name-en {
        font-size: clamp(30px, 3vw, 70px);
        color:#ffffff;
        font-weight: 800;
        margin-top: 10%;
        font-family: 'Roboto';
    }
    .name-jp {
        font-size: clamp(30px, 3vw, 70px);
        color:#ffffff;
        font-weight: 800;
        margin-top: 10%;
        font-family: 'Noto Sans JP';
    }
    .prof-en {
        font-size: clamp(30px, 4vw, 70px);
        color:#ffffff;
        font-family: 'Roboto';
        font-style:normal;
        font-weight:300;
        background: none;
    }
    
    .prof-jp {
        font-size: clamp(30px, 4vw, 70px);
        color:#ffffff;
        font-family: 'Noto Sans JP';
        font-style:normal;
        font-weight:300;
        background: none;
    }
    
    .moto-en {
        font-size: clamp(30px, 2vw, 60px);
        color:#ffffff;
        font-style: normal;
        font-weight: 200;
        letter-spacing: -0.72px;
        margin-top:10%;
        font-family: 'Roboto';
    }
    
    .moto-jp {
        font-size: clamp(20px, 1.5vw, 50px);
        color:#ffffff;
        font-weight: 300;
        letter-spacing: -0.72px;
        margin-top:10%;
        font-family: 'Zen Kaku Gothic New';
        font-style: normal;
    }
}

*/