/* Define hover effect for the thumbnail with smooth scaling */
.thumbnail {
    position: relative; /* To position the caption absolutely within the thumbnail */
  }
  
  .caption {
    position: absolute;
    top: 50%; /* Position the caption at the bottom of the image */
    left: 0;
    width: 100%;
    text-align: center; /* Center the text */
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: white; /* White text for visibility */
    padding: 5px; /* Padding for the text */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for showing/hiding */
    font-size: 20px;
  }
  
  .thumbnail:hover .caption {
    opacity: 1; /* Show the caption on hover */
  }
  .thumbnail img {
    animation: float 4s ease-in-out infinite;
    animation-delay: 3s;
  }
  .workflow-image {
    margin:auto;
  }
  @keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); /* Adjust the value to control the amplitude */
    }
}